<head>
    <link rel="stylesheet" href="../css/nav-bar.css">
</head>

<div class="nav-bar">
    <a href="/home">Dashboard</a>
    <div class="edit-nav">
        <a href="/profile-picture/{{user._id}}" id="create-profile-pic">New Profile Pircture</a>
        <a href="/edit-profile/{{user._id}}"><img src=" {{user.profilePicture}} " alt="User Picture"></a>
        <a href="/logout">LogOut</a>
    </div>
</div>