<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TraveLog</title>
    <link rel="stylesheet" href="./css/reset.css">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    {{#each scripts}}
    <script src="/scripts/{{this}}.js"></script>
    {{/each}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

</head>
{{!-- Venkat - On loading, we will have a log in page.
  The page will look similar to the Ironhack login (Just a center aligned log in form).
  Upon logging in the nav-bar partial will be displayed with different options depending on the user type e.g. Admin, User,  Manager
 --}}

<body>

    {{{body}}}

</body>

</html>