{{> navbar}}


<span>Finished Planning?</span> <label class="switch">
    <input id="plan-status" type="checkbox">
    <span class="slider round"></span>
</label>
<br>
<br>
<br>



<table>
    <thead>
        <tr class="table-row">
            <th class="table-head">
                Batch/ Session
            </th>
            {{#create-rows noOfBatches }}
            {{/create-rows}}
        </tr>
    </thead>

    <tbody>
        {{#each trip.tripDates}}

        {{!-- for each date in the trip --}}
        {{#each ../trip.sessionInfo}}


        {{!-- for each session in the trip --}}
        <tr class="table-row">
            {{!-- create a row --}}
            <td class="table-division">
                {{format-date ../this 'DD/MM/YY' }}<br><br>
                {{this.name}} / {{this.timings}}
            </td>
            {{!-- create the inputs for the specific row --}}
            {{#create-inputs ../../noOfBatches ../../trip.trainers this ../this ../../data}}
            {{/create-inputs}}
        </tr>
        {{/each}}
        {{/each}}
    </tbody>

</table>