<span>Finished Planning?</span> <label class="switch">
    <input id="plan-status" type="checkbox">
    <span class="slider round"></span>
</label>
<br>
<br>



<table>
    <thead>
        <tr class="table-row">
            <th class="table-head">
                Batch/ Session
            </th>
            {{#create-rows noOfBatches }}
            {{/create-rows}}
        </tr>
    </thead>

    <tbody>
        {{#each trip.tripDates}}
        {{#each ../trip.sessionInfo}}
        <tr class="table-row">
            <td class="table-division">

                {{format-date ../this 'DD/MM/YY' }}<br><br>
                {{this.name}} / {{this.timings}}
            </td>
            {{#create-inputs ../../noOfBatches }}
            {{/create-inputs}}
        </tr>
        {{/each}}
        {{/each}}
    </tbody>

</table>