<head>
    <link rel="stylesheet" href="./css/profilepic.css">
</head>
{{> navbar}}

<div class="camera-container">
    <div class="camera">
        <div id="my_camera">
            <video autoplay></video>
        </div>
        <button class="take-pic" id="take-pic">Take Picture</button>
    </div>
    <div class="image">
        <div id="results"></div>
        <button class="save-pic hidden">Save Picture</button>
    </div>
</div>