<div class="main-container">
    <section class="sign-in-container">
        <img src="" alt="site-logo" class="site-logo">
        <form method="get" class="sign-in-form">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button>Log In</button>
        </form>
    </section>
</div>