<div class="main-container">
    <section class="sign-in-container">
        <div class="site-logo">
            <h1>Trave<span>Log</span></h1>
        </div>
        <form action="/" method="post" class="sign-in-form">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button class="log-in">Log In</button>
        </form>
        <span>Not yet Registered? <a href="/signup">Click Here</a></span>
    </section>
</div>