.nav-bar {
  width: 100%;
  padding: 10px;
  background-color: grey;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.nav-bar a:active {
  color: #f05136;
}
.nav-bar img {
  height: 65px;
  width: 65px;
  margin-right: 30px;
  border-radius: 35px;
  border: 2px solid white;
  /* transform: rotate(180deg); */
  /* The transform above will be removed, just for testing as picture displays upside down */
}
.edit-nav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#create-profile-pic {
  font-size: 14px;
  margin-right: 10px;
}
