.nav-bar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80px;
  border-bottom: 1.5px solid grey;
}

.nav-bar a {
  text-decoration: none;
  color: #f05136;
  font-size: 25px;
}

.nav-bar a:hover {
  transform: scale(1.1);
}
.nav-bar img {
  height: 65px;
  width: 65px;
  margin-right: 30px;
  border-radius: 35px;
  border: 2px solid #f05136;
}
.edit-nav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#create-profile-pic {
  font-size: 14px;
  margin-right: 10px;
}
