.nav-bar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80px;
  border-bottom: 1.5px solid grey;
}

.nav-bar a {
  text-decoration: none;
  color: #f05136;
  font-size: 25px;
  margin-right: 10px;
}
.navigate a {
  padding-right: 15px;
  border-right: 1.5px solid #f05136;
}

.navigate a:last-child {
  border-right: none;
}

.navigate a:hover {
  color: grey;
}
.navigate {
  width: 40%;
}
.nav-bar img {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  border-radius: 35px;
  border: 2px solid #f05136;
}
.edit-nav {
  width: 59%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#create-profile-pic {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
#create-profile-pic i {
  padding: 12px;
}
