.main-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-events {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-event-more {
  width: 60%;
}

.assignment-title {
  width: 90%;
  font-size: 30px;
  border: 1px solid grey;
  text-align: center;
  border-radius: 7px;
  background-color: whitesmoke;
  margin: 10px 0;
  padding: 10px;
}

.card-info {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  line-height: 20px;
  width: 80%;
  border: 1px solid grey;
  border-radius: 7px;
  box-shadow: 1px 1px grey;
  margin: 10px 0;
  padding: 10px;
  background-color: whitesmoke;
}
.card-info:active {
  transition: 0.2s ease-out;
  transform: scale(0.9);
}
.see-more {
  border: none;
  background: none;
}

.bold {
  font-weight: 500;
}

/* More Information Section */

.more-information {
  display: flex;
  width: 60%;
  flex-direction: column;
  max-width: 60%;
}
.college-information {
  width: 100%;
  display: flex;
  border-bottom: 1.5px solid grey;
  padding: 10px;
}
.college-information h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
  width: 40%;
  padding-left: 25px;
  align-self: center;
}

.college-information ul {
  font-size: 18px;
  width: 60%;
  line-height: 25px;
  padding-left: 30px;
}
.college-information span,
.schedule-data span {
  font-weight: 500;
}

.schedule-holder {
  display: flex;
  flex-flow: wrap;
  justify-content: baseline;
  padding: 20px;
}

.schedule-data {
  width: 28%;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 1px 1px grey;
}
.schedule-data ul {
  line-height: 22px;
  font-size: 16px;
}
.schedule-title {
  padding: 15px;
  font-size: 25px;
  margin: 0 auto;
}
